.container>.row>div {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    
}

body,
html {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
